<header>
<nav class="nav" >
    <span class="nav-brand" href="/">QUIZAPP</span>
    <div class="navbar-nav">
        <a class="nav-item" href="/login">Login</a>
        <a class="nav-item" href="/register">Register</a>
    </div>
  </nav>
</header>

