<!-- QUIZZES WILL BE CREATED ON THIS PAGE -->
    <title>Create New Quiz</title>
    <%- include('partials/_assets') %>

  </head>

  <body>
    <%- include('partials/_header') %>

    <div class="row justify-content-center">
      <div class="col-md-6">
    <main style="margin: 1em;">
    <h3>Create a New Question</h3>
    <form class="form-inline" action="/createQuestions" method="POST">
      <div>
        <label for="text">You can share your QuizID
          <input
            type="hidden"
            name="QuizID"
            style="width: 30px; margin: 1em"
            value=<%=quizId%>
          />
        </label>
      </div>


      <label for="text">Questions
      <input
        type="text"
        name="question"
        placeholder="Quiz questions"
        style="width: 300px; margin: 1em"
      />
    </label>
    <label for="text">First answer
      <input
        type="text"
        name="answer1"
        placeholder="answer"
        style="width: 300px; margin: 1em"
      />
    </label>
    <label for="text">Is this the correct answer?
      <input
          id="opt1"
          type="radio"
          name="check1"
          value=TRUE
        />
    </label>
    <label for="text">Second answer
      <input
        type="text"
        name="answer2"
        placeholder="answer"
        style="width: 300px; margin: 1em"
      />
    </label>
    <label for="text">Is this the correct answer?
      <input
          id="opt2"
          type="radio"
          name="check2"
        />
    </label>


      <button type="submit" class="btn btn-primary">Add questions</button>

  </form>
</main>



    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
