
<!-- THIS PAGE IS WHERE THE USER'S PAGE SHOWS -->

<!-- Displays their private quizzes and public quizzes. And allows them to create a quiz of their own (button will be linked to createQuiz.ejs file) -->

<!DOCTYPE html>
<html lang="en">



<!<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>QuizApp</title>
  </head>

  <body>
    <header>
      <nav>
<<<<<<< HEAD
          <h1>Quiz App</h1>
=======
        <a href="/home/<%= user_id %>">
          <h1>QuizApp</h1>
>>>>>>> origin/dihni
        </a>
          <div class="create-quiz-link">
            Home
          </div>
        </a>
      </nav>
    </header>
    <div class="main-container">
        <h1>Welcome!</h1>
        <a href="/users/createquiz/<%= user_id %>">
          <div class="create-quiz-link">
            Create your own quiz!
          </div>
        </a>
        <%}%>
      </div>
      <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
  </html>
