// See: https://sass-lang.com/

body,
html {
  margin: 0;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  margin: 3em;

}

.quizzes-container {
  // border: solid orange 3px;
  display: flex;
  justify-content: flex-start;
}

.quiz-sports {
  background-image: url("/images/sports.jpeg");
  // border: solid blue 3px;
  padding: 10px;
  color: white;
  // background-color: lightblue;
}

.quiz-movies {
  // border: solid green 3px;
  height: 200px;
  width: 400px;
  background-image: url("/images/movies.jpeg");
  padding: 10px;
  color: white;
  background-size: 400px 200px;

}

.quiz-countries {
  // border: solid red 3px;
  background-image: url("/images/countries.jpeg");
  padding: 10px;
  color: white;
}

