nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #dbbebe;
  background-color: rgb(100, 163, 120);

}
