body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: #f5ebe0;
}

#welcome {
  font-family: "Helvetica Neue", sans-serif;
  font-style: italic;

}

header {
  margin-bottom: 5%;
}

